*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-section {
    justify-content: space-between;
    width: 70%;
    border: 1px solid #fff;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}

.menu-list {
    margin-top: 10px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-menu ul li {
    color: black;
    justify-content: space-between;
    padding-left: 30px;
}
.navigation-menu ul li a {
    text-decoration: none;
    color: black;  
}

.RAS-number {
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    padding-left: 10px;
    justify-content: center;
}

.RAS-number p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.RAS-section {
    display: flex;
}

.RAS-section .grey-line {
    margin-right: 20px;
}
.RAS-section img {
    padding-right: 10px;
}
.RAS-section .RAS-logo {
    min-height: 70%;
    align-items: center;
}



/* BOOKING SECTION BELOW THE HEADER */
.booking-section {
    width: 70%;
    min-height: 88vh;
    border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.booking-section .text-booking {
    width: 50%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
}

.booking-section .text-booking .booking-header {
    border: 5px solid #fff;
    min-height: 50%;
    width: 100%;
    font-size: 250%;
    padding-top: 30px;
}
.booking-section .text-booking .booking-header button {
    width: 30%;
    min-height: 50px;
    color: #fff;
    background: #FF6433;
    border: 1px solid #FF6433;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
}

.booking-section .text-booking .booking-text {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    min-height: 10%;
    width: 100%;
    margin-top: 50px;
}


.booking-section .text-booking .booking-text .we-are-open {
    display: flex;
    flex-direction: row;
}
.booking-section .text-booking .booking-text .we-are-open img {
    margin-top: 5px;
    padding-right: 10px;
}

.booking-section .picture-booking {
    width: 50%;
    background: url(../img/mechanic.png) no-repeat;
    background-size:auto;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}










/* SECTION 2 WORK */

.section2-class {
    width: 100%;
    min-height: 100vh;
    background-color: #E2E6E9;
}

.section2-class .section2-box {
    width: 70%;
    min-height: 85vh;
    margin: auto;
    border: 1px solid #E2E6E9;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.section2-class .section2-box .section2-LHS {
    width: 50%;
    min-height: 100%;
    border: 1px solid #E2E6E9;
    margin-right: 3%;
}

.section2-class .section2-box .section2-LHS .we-are-taking h2 {
    font-size: 360%;
}
.section2-class .section2-box .section2-LHS .we-are-taking ul {
    list-style: none;
}

.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 {
    width: 74%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 {
    list-style: none;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-image-box {
    width: 16%;
    padding: 0 10px 40px 0;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-image-box img {
    width: 100%;
    
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box h5 {
    font-size: 150%;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box p {
    font-size: 120%;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box a {
    font-size: 130%;
    color: black;
    padding-right: 15px;
    text-decoration: none;   
}



.section2-class .section2-box .section2-RHS {
    width: 50%;
    min-height: 100%;
    border: 1px solid #E2E6E9;
    margin-left: 2%;
}

.section2-class .section2-box .section2-RHS .get-a-quote {
    border: 1px solid #E2E6E9;
    width: 100%;
    min-height: 100%;
}

.section2-class .section2-box .section2-RHS .get-a-quote h2 {
    padding-right: 100px;
    font-size: 250%;
    padding-bottom: 50px;

}
.section2-class .section2-box .section2-RHS .get-a-quote input {
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    padding-left: 30px;
    border: 2px solid #E2E6E9
}
.section2-class .section2-box .section2-RHS .get-a-quote button {
    width: 30%;
    min-height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
    background: #FF6433;
    border: 1px solid #FF6433;
    cursor: pointer;
}













/* SECTION 3  PROCESS SECTION */
.process-section {
    width: 100%;
    min-height: 80vh;
    margin: 0 auto;
}

.process-section .section3-container {
    width: 67%;
    min-height: 65vh;
    margin: 0 auto;
    border: 1px solid #fff;
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: row;
}

.process-section .section3-container .section3-LHS {
    border: 1px solid #fff;
    width: 60%;
    min-height: 100%;
}

.process-section .section3-container .section3-LHS h2 {
    font-size: 360%;
    margin-top: 80px;
    margin-right: 100px;
}
.process-section .section3-container .section3-LHS p {
    font-size: 110%;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 200px;
}
.process-section .section3-container .section3-LHS button {
    margin-top: 30px;
    width: 25%;
    height: 40px;
    color: #fff;
    background-color: #FF6433;
    border-radius: 10px;
    border: 1px solid #FF6433;
    cursor: pointer;
}



.process-section .section3-container .section3-RHS {
    border: 1px solid #fff;
    width: 40%;
    min-height: 100%;
}

.process-section .section3-container .section3-RHS .RHS3-text h4 {
    font-size: 200%;
    padding: 10px 0 0 10px;
}
.process-section .section3-container .section3-RHS .RHS3-text p {
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 30px 10px 10px;
}

.process-section .section3-container .section3-RHS .RHS3-image {
    width: 20%;
    text-align: center;
    margin-right: 10px;
}
.process-section .section3-container .section3-RHS .RHS3-image img {
    width: 100%;
    padding-top: 10px;
}


.process-section .section3-container .section3-RHS .line-image img {
    width: 2px;
}
.list-flex {
    display: flex;
    flex-direction: row;
}









/* SECTION 4- WE OFFER FULL SERVICE */
.we-offer {
    background-color: #F2F2F2;
    width: 100%;
    min-height: 110vh;
    border: 1px solid #F2F2F2;
}

.we-offer h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
    margin-top: 70px;
}
.we-offer h2 {
    margin: 0 auto;
    font-size: 360%;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
}

.we-offer .offers {
    width: 70%;
    min-height: 50%;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.we-offer .offers .offers-box {
    background: #fff;
    border: 1px solid #fff;
    width: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    margin-top: 20px;
}

.we-offer .offers .offers-box-orange {
    color: #fff;
    background: #FF6433;
    border: 1px solid #FF6433;
    width: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    margin-top: 20px;
}

.we-offer .know-more-text {
    width: 15%;
    height: 3vh;
    border: 1px solid #F2F2F2;
    margin-top: 20px;
    margin: 0 auto;
    margin-left: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.we-offer .know-more-text a {
    text-decoration: none;
    font-size: 120%;
    color: black;
}
.we-offer .know-more-text img {
    margin-top: 3px;
    padding-left: 10px;
}









/* SECTION 5 - GET IN TOUCH WITH US */

.get-in-touch {
    width: 100%;
    min-height: 70vh;
    background-color: #F2F2F2;
}

.get-in-touch .GIT-upper {
    width: 100%;
    min-height: 40vh;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
}

.get-in-touch .GIT-upper .GIT-upper1 {
    width: 15%;
    min-height: 40vh;
    background: url(../img/car-rear.png);
    background-size: cover;
}

.get-in-touch .GIT-upper .GIT-upper2 {
    width: 37%;
    min-height: 50vh;
    background: #FF6433;
    padding: 100px 50px 100px 50px;
}
.get-in-touch .GIT-upper .GIT-upper2 h2 {
    font-size: 270%;
    color: #fff;
    padding-bottom: 30px;
}
.get-in-touch .GIT-upper .GIT-upper2 button {
    width: 25%;
    min-height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: black;
}


.get-in-touch .GIT-upper .GIT-upper3 {
    width: 48%;
    min-height: 40vh;
    background: url(../img/car-charger.png);
    background-size: cover;
}


.get-in-touch .GIT-lower {
    width: 70%;
    min-height: 30%;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get-in-touch .GIT-lower .GIT-number-figures {
    width: 25%;
    min-height: 100%;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    align-self: center;
}

.get-in-touch .GIT-lower .GIT-number-figures h2 {
    font-size: 300%;
    font-family: sans-serif;
    color: #661CE7;
    padding: 20px 0 0 10px;
}

.get-in-touch .GIT-lower .GIT-number-figures p {
    font-size: 150%;
    padding: 0 0 0 10px;
    font-family: sans-serif;
}





/* SECTION 6 - BRANDS WE SERVE */
.brands {
    margin: 0 auto;
    width:100%;
    min-height: 65vh;
    background-color: #fff;
}

.brands .brands-text {
    margin: 0 auto;
    width: 23%;
    min-height: 15%;
    border: 1px solid #fff;
    margin-top: 100px;
}

.brands .brands-text h2 {
    font-size: 280%;
    font-family:Arial, Helvetica, sans-serif;
}

.brands .logoipsum {
    width: 70%;
    min-height: 17vh;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 50px;
}

.brands .logoipsum .logoipsum1 {
    display: flex;
    flex-direction: row;
}




/* SECTION FREQUENT QUESTIONS */

.faq-home {
    width: 100%;
    min-height: 110vh;
    background: #E2E6E9;
    border: 1px solid #E2E6E9;
    margin: 0 auto;
}

.faq-home .faq-upper-text {
    width: 35%;
    min-height: 10vh;
    margin: 0 auto;
    border: 1px solid #E2E6E9;
    margin-top: 100px;
    margin-bottom: 30px;
}
.faq-home .faq-upper-text h2 {
    font-size: 250%;
}

.faq-home .faq-home-big {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 20vh;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.faq-home .faq-home-big .faq-home-big-upper {
    width: 100%;
    min-height: 7vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq-home .faq-home-big .faq-home-big-upper button {
    width: 33px;
    height: 33px;
    color: #fff;
    background-color: #FF6433;
    font-size: 150%;
    margin-top: 15px;
    margin-right: 20px;
}
.faq-home .faq-home-big .faq-home-big-upper h4 {
    font-size: 140%;
    align-self: center;
    padding-left: 30px;
}

.faq-home .faq-home-big .faq-home-big-lower {
    width: 100%;
    min-height: 13vh;
    border: 1px solid #fff;
}
.faq-home .faq-home-big .faq-home-big-lower p {
    font-size: 120%;
    margin: 10px 120px 10px 30px;
}



.faq-home .faq-home-small {
    width: 50%;
    margin: 0 auto;
    min-height: 10vh;
    background-color: #fff;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.faq-home .faq-home-small button {
    width: 33px;
    height: 33px;
    color: #fff;
    background-color: #FF6433;
    font-size: 150%;
    margin-top: 20px;
    margin-right: 20px;
}
.faq-home .faq-home-small h4 {
    font-size: 140%;
    align-self: center;
    padding-left: 30px;
}









/* FOOTER-SECTION */
.service-sec4 {
    width: 100%;
    min-height: 60vh;
    background: #1E1B1B;
    border: 1px solid #1E1B1B;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.service-sec4 .service-sec4-LHS {
    width: 25%;
    min-height: 25vh;
    border: 1px solid #1E1B1B;
    margin-top: 100px;
    margin-left: 280px;
    margin-right: 150px;
}

.service-sec4 .service-sec4-LHS h2 {
    font-size: 250%;
    color: #fff;
}

.service-sec4 .service-sec4-LHS .social-logos {
    width: 40%;
    min-height: 4vh;
    border: 1px solid 1E1B1B;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.service-sec4 .service-sec4-RHS {
    width: 25%;
    min-height: 30vh;
    border: 1px solid #1E1B1B;
    margin-top: 100px;
    color: #fff;
}
.service-sec4 .service-sec4-RHS p {
    font-size: 120%;
    padding: 10px 0 30px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* FOOTER SECTION */
/* FOOTER SECTION */
.service-footer {
    width: 100%;
    min-height: 12vh;
    background-color: black;

}

.service-footer .footer-section {
    justify-content: space-between;
    width: 70%;
    background: black;
    border: 1px solid black;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    padding: 25px 0 25px 0;
}

.menu-list-footer {
    margin-top: 10px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-menu-footer ul li {
    color: black;
    justify-content: space-between;
    padding-left: 30px;
}
.navigation-menu-footer ul li a {
    text-decoration: none;
    color: white;  
}



.RAS-section-footer .copyright-footer {
    color: #fff;
}

.RAS-section-footer .copyright-footer p {
    padding: 10px 0 0 100px;
}