*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-section {
    width: 70%;
    min-height: 8vh;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.header-section .header-LHS {
    width: 40%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
}

.header-section .header-RHS {
    width: 60%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

.header-section .header-RHS .menu-list {
    width: 65%;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-section .header-RHS .menu-list a {
    color: black;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}
.header-section .header-RHS .menu-list li {
    list-style: none;
    font-size: 120%;
}

.header-section .header-RHS .grey-line {
    width: 5%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-section .header-RHS .grey-line img {
    min-height: 100%;
}

.header-section .header-RHS .RAS {
    width: 30%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}







/* BOOKING SECTION BELOW THE HEADER */
.booking-section {
    width: 70%;
    min-height: 88vh;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.booking-section .text-booking {
    width: 50%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.booking-section .text-booking .booking-header {
    border: 5px solid #fff;
    min-height: 50%;
    width: 100%;
    font-size: 250%;
    padding-top: 30px;
}
.booking-section .text-booking .booking-header button {
    width: 30%;
    min-height: 50px;
    color: #fff;
    background: #FF6433;
    border: 1px solid #FF6433;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
}

.booking-section .text-booking .booking-text {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    min-height: 10%;
    width: 100%;
    margin-top: 50px;
}


.booking-section .text-booking .booking-text .we-are-open {
    display: flex;
    flex-direction: row;
}
.booking-section .text-booking .booking-text .we-are-open img {
    margin-top: 5px;
    padding-right: 10px;
}

.booking-section .picture-booking {
    width: 50%;
    background: url(../img/mechanic.png) no-repeat;
    background-size:auto;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}










/* SECTION 2 WORK */

.section2-class {
    width: 100%;
    min-height: 100vh;
    background-color: #E2E6E9;
}

.section2-class .section2-box {
    width: 70%;
    min-height: 85vh;
    margin: 0 auto;
    border: 1px solid #E2E6E9;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.section2-class .section2-box .section2-LHS {
    width: 50%;
    min-height: 100%;
    border: 1px solid black;
    margin-right: 3%;
}

.section2-class .section2-box .section2-LHS .we-are-taking h2 {
    font-size: 360%;
    align-self  : center;
}
.section2-class .section2-box .section2-LHS .we-are-taking ul {
    list-style: none;
}

.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 {
    width: 74%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 {
    list-style: none;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-image-box {
    width: 16%;
    padding: 0 10px 40px 0;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-image-box img {
    width: 100%;
    
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box h5 {
    font-size: 150%;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box p {
    font-size: 120%;
}
.section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box a {
    font-size: 130%;
    color: black;
    text-decoration: none;   
}



.section2-class .section2-box .section2-RHS {
    width: 50%;
    min-height: 100%;
    border: 1px solid black;
}

.section2-class .section2-box .section2-RHS .get-a-quote {
    border: 1px solid #E2E6E9;
    width: 100%;
    min-height: 100%;
}

.section2-class .section2-box .section2-RHS .get-a-quote h2 {
    padding-right: 100px;
    font-size: 250%;
    padding-bottom: 50px;

}
.section2-class .section2-box .section2-RHS .get-a-quote input {
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    padding-left: 30px;
    border: 2px solid #E2E6E9
}
.section2-class .section2-box .section2-RHS .get-a-quote button {
    width: 30%;
    min-height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
    background: #FF6433;
    border: 1px solid #FF6433;
    cursor: pointer;
}













/* SECTION 3  PROCESS SECTION */
.process-section {
    width: 100%;
    min-height: 80vh;
    margin: 0 auto;
}

.process-section .section3-container {
    width: 67%;
    min-height: 65vh;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: row;
}

.process-section .section3-container .section3-LHS {
    border: 1px solid #fff;
    width: 60%;
    min-height: 100%;
}

.process-section .section3-container .section3-LHS h2 {
    font-size: 360%;
    margin-top: 80px;
    margin-right: 100px;
}
.process-section .section3-container .section3-LHS p {
    font-size: 110%;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 200px;
}
.process-section .section3-container .section3-LHS button {
    margin-top: 30px;
    width: 25%;
    height: 40px;
    color: #fff;
    background-color: #FF6433;
    border-radius: 10px;
    border: 1px solid #FF6433;
    cursor: pointer;
}



.process-section .section3-container .section3-RHS {
    border: 1px solid #fff;
    width: 40%;
    min-height: 100%;
}

.process-section .section3-container .section3-RHS .RHS3-text h4 {
    font-size: 200%;
    padding: 10px 0 0 10px;
}
.process-section .section3-container .section3-RHS .RHS3-text p {
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 30px 10px 10px;
}

.process-section .section3-container .section3-RHS .RHS3-image {
    width: 20%;
    text-align: center;
    margin-right: 10px;
}
.process-section .section3-container .section3-RHS .RHS3-image img {
    width: 100%;
    padding-top: 10px;
}


.process-section .section3-container .section3-RHS .line-image img {
    width: 2px;
}
.list-flex {
    display: flex;
    flex-direction: row;
}









/* SECTION 4- WE OFFER FULL SERVICE */
.we-offer {
    background-color: #F2F2F2;
    width: 100%;
    min-height: 110vh;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
}

.we-offer .offer-header {
    width: 50%;
    min-height: 30vh;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #F2F2F2;
}

.we-offer .offer-header h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
}
.we-offer .offer-header h2 {
    margin: 0 auto;
    font-size: 360%;
    width: 100%;
    text-align: center;
}

.we-offer .offers {
    width: 70%;
    min-height: 60vh;
    margin: 0 auto;
    border: 1px solid black ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.we-offer .offers .offers-box {
    background: #fff;
    border: 1px solid #fff;
    width: 23%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.we-offer .offers .offers-box-orange {
    color: #fff;
    background: #FF6433;
    border: 1px solid #FF6433;
    width: 23%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.we-offer .know-more-text {
    width: 15%;
    height: 3vh;
    border: 1px solid #F2F2F2;
    margin-top: 20px;
    margin: 0 auto;
    margin-left: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.we-offer .know-more-text a {
    text-decoration: none;
    font-size: 120%;
    color: black;
}
.we-offer .know-more-text img {
    margin-top: 3px;
    padding-left: 10px;
}









/* SECTION 5 - GET IN TOUCH WITH US */

.get-in-touch {
    width: 100%;
    min-height: 70vh;
    background-color: #F2F2F2;
}

.get-in-touch .GIT-upper {
    width: 100%;
    min-height: 40vh;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
}

.get-in-touch .GIT-upper .GIT-upper1 {
    width: 15%;
    min-height: 40vh;
    background: url(../img/car-rear.png);
    background-size: cover;
}

.get-in-touch .GIT-upper .GIT-upper2 {
    width: 37%;
    min-height: 50vh;
    background: #FF6433;
    padding: 100px 50px 100px 50px;
}
.get-in-touch .GIT-upper .GIT-upper2 h2 {
    font-size: 270%;
    color: #fff;
    padding-bottom: 30px;
}
.get-in-touch .GIT-upper .GIT-upper2 button {
    width: 25%;
    min-height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: black;
}


.get-in-touch .GIT-upper .GIT-upper3 {
    width: 48%;
    min-height: 40vh;
    background: url(../img/car-charger.png);
    background-size: cover;
}


.get-in-touch .GIT-lower {
    width: 70%;
    min-height: 30%;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get-in-touch .GIT-lower .GIT-number-figures {
    width: 25%;
    min-height: 100%;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    align-self: center;
}

.get-in-touch .GIT-lower .GIT-number-figures h2 {
    font-size: 300%;
    font-family: sans-serif;
    color: #661CE7;
    padding: 20px 0 0 10px;
}

.get-in-touch .GIT-lower .GIT-number-figures p {
    font-size: 150%;
    padding: 0 0 0 10px;
    font-family: sans-serif;
}








/* SECTION 6 - BRANDS WE SERVE */
.brands {
    margin: 0 auto;
    width:100%;
    min-height: 65vh;
    background-color: #fff;
}

.brands .brands-text {
    margin: 0 auto;
    width: 23%;
    min-height: 10vh;
    border: 1px solid black;
    margin-top: 100px;
}

.brands .brands-text h2 {
    font-size: 280%;
    font-family:Arial, Helvetica, sans-serif;
}


.brands .brand-box {
    width: 70%;
    min-height: 30vh;
    border: 5px solid black;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.brands .brand-box .logoipsum {
    width: 18%;
    min-height: 48%;
}




/* SECTION - OUR CUSTOMERS SAY */
.our-cus {
    width: 100%;
    min-height: 90vh;
    margin: 0 auto;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.our-cus .our-cus-header {
    width: 45%;
    min-height: 10vh;
    margin: 0 auto;
    margin-top: 90px;
    border: 1px solid #F2F2F2;
}
.our-cus .our-cus-header h2 {
    font-size: 250%;
    text-align: center;
}

.our-cus .feedback {
    width: 64%;
    min-height: 40vh;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-cus .feedback .feedback-LHS {
    width: 48%;
    min-height: 30vh;
    border: 1px solid #fff;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.our-cus .feedback .feedback-LHS .feedback-up {
    width: 80%;
    min-height: 25%;
    border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.our-cus .feedback .feedback-LHS .feedback-up .feedback-dp {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
}
.our-cus .feedback .feedback-LHS .feedback-up .feedback-dp img {
    width: 100%;
    margin-top: 5px;
}

.our-cus .feedback .feedback-LHS .feedback-up .feedback-name {
    width: 85%;
    height: 100%;
    border: 1px solid #fff;
}
.our-cus .feedback .feedback-LHS .feedback-up .feedback-name h4 {
    font-size: 120%;
    padding: 10px 0 0 10px;

}
.our-cus .feedback .feedback-LHS .feedback-up .feedback-name p {
    padding: 5px 0 0 10px;
}

.our-cus .feedback .feedback-LHS .feedback-down {
    width: 80%;
    min-height: 40%;
    border: 1px solid #fff;
    margin: 0 auto;
}
.our-cus .feedback .feedback-LHS .feedback-down p {
    font-size: 130%;
}


.our-cus .feedback .feedback-RHS {
    width: 48%;
    min-height: 30vh;
    border: 1px solid #fff;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.our-cus .feedback .feedback-RHS .feedback-up {
    width: 80%;
    min-height: 25%;
    border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.our-cus .feedback .feedback-RHS .feedback-up .feedback-dp {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
}
.our-cus .feedback .feedback-RHS .feedback-up .feedback-dp img {
    width: 100%;
    margin-top: 5px;
}

.our-cus .feedback .feedback-RHS .feedback-up .feedback-name {
    width: 85%;
    height: 100%;
    border: 1px solid #fff;
}
.our-cus .feedback .feedback-RHS .feedback-up .feedback-name h4 {
    font-size: 120%;
    padding: 10px 0 0 10px;
}
.our-cus .feedback .feedback-RHS .feedback-up .feedback-name p {
    padding: 5px 0 0 10px;
}

.our-cus .feedback .feedback-RHS .feedback-down {
    width: 80%;
    min-height: 40%;
    border: 1px solid #fff;
    margin: 0 auto;
}
.our-cus .feedback .feedback-RHS .feedback-down p {
    font-size: 130%;
}


.our-cus .feedback-footer {
    width: 37%;
    min-height: 7vh;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    margin-left: 45%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-cus .feedback-footer .page-lines {
    width: 25%;
    height: 7vh;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.our-cus .feedback-footer .page-line1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-cus .feedback-footer .page-slider {
    width: 20%;
    height: 7vh;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-cus .feedback-footer .page-slider .slider1 {
    width: 35%;
    height: 100%;
    border: 1px solid #F2F2F2;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.our-cus .feedback-footer .page-slider .slider1 img {
    width: 100%;
    cursor: pointer;
}

.our-cus .feedback-footer .page-slider .slider2 {
    width: 50%;
    height: 100%;
    border: 1px solid #F2F2F2;
}
.our-cus .feedback-footer .page-slider .slider2 img {
    height: 100%;
    cursor: pointer;
}






/* SECTION FREQUENT QUESTIONS */

.faq-home {
    width: 100%;
    min-height: 110vh;
    background: #E2E6E9;
    border: 1px solid #E2E6E9;
    margin: 0 auto;
}

.faq-home .faq-upper-text {
    width: 35%;
    min-height: 10vh;
    margin: 0 auto;
    border: 1px solid #E2E6E9;
    margin-top: 100px;
    margin-bottom: 30px;
}
.faq-home .faq-upper-text h2 {
    font-size: 250%;
}

.faq-home .faq-home-big {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 20vh;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.faq-home .faq-home-big .faq-home-big-upper {
    width: 100%;
    min-height: 7vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq-home .faq-home-big .faq-home-big-upper button {
    width: 33px;
    height: 33px;
    color: #fff;
    background-color: #FF6433;
    font-size: 150%;
    margin-top: 15px;
    margin-right: 20px;
}
.faq-home .faq-home-big .faq-home-big-upper h4 {
    font-size: 140%;
    align-self: center;
    padding-left: 30px;
}

.faq-home .faq-home-big .faq-home-big-lower {
    width: 100%;
    min-height: 13vh;
    border: 1px solid #fff;
}
.faq-home .faq-home-big .faq-home-big-lower p {
    font-size: 120%;
    margin: 10px 120px 10px 30px;
}



.faq-home .faq-home-small {
    width: 50%;
    margin: 0 auto;
    min-height: 10vh;
    background-color: #fff;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.faq-home .faq-home-small button {
    width: 33px;
    height: 33px;
    color: #fff;
    background-color: #FF6433;
    font-size: 150%;
    margin-top: 20px;
    margin-right: 20px;
}
.faq-home .faq-home-small h4 {
    font-size: 140%;
    align-self: center;
    padding-left: 30px;
}









/* FOOTER-SECTION */
.service-sec4 {
    width: 100%;
    min-height: 60vh;
    background: #1E1B1B;
    border: 1px solid #1E1B1B;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.service-sec4 .service-sec4-LHS {
    width: 25%;
    min-height: 25vh;
    border: 1px solid #1E1B1B;
    margin-top: 100px;
    margin-left: 280px;
    margin-right: 150px;
}

.service-sec4 .service-sec4-LHS .LHS-header {
    width: 100%;
    min-height: 25vh;
    border: 1px solid #1E1B1B;
}

.service-sec4 .service-sec4-LHS .LHS-header h2 {
    font-size: 250%;
    color: #fff;
}

.service-sec4 .service-sec4-LHS .social-logos {
    width: 40%;
    min-height: 4vh;
    border: 1px solid 1E1B1B;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.service-sec4 .service-sec4-RHS {
    width: 25%;
    min-height: 30vh;
    border: 1px solid #1E1B1B;
    margin-top: 100px;
    color: #fff;
}
.service-sec4 .service-sec4-RHS p {
    font-size: 120%;
    padding: 10px 0 30px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* FOOTER SECTION */
/* FOOTER SECTION */
.footer-container {
    width: 100%;
    min-height: 8vh;
    margin: 0 auto;
    background: black;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}


.footer-container .footer-section {
    width: 70%;
    min-height: 8vh;
    margin: 0 auto;
    background: black;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.footer-container .footer-section .footer-LHS{
    width: 30%;
    min-height: 8vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
}


.footer-container .footer-section .footer-MHS{
    width: 52%;
    min-height: 8vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.footer-container .footer-section .footer-MHS .menu-list {
    width: 75%;
    min-height: 8vh;
    border: 1px solid black;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-container .footer-section .footer-MHS .menu-list a{
    text-decoration: none;
    font-size: 120%;
    color: #fff;
}

.footer-container .footer-section .footer-RHS{
    width: 18%;
    min-height: 8vh;
    border: 1px solid black;
    color: #fff;
    display: flex;
    align-items: center;
}





/* MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION */




/* MOBILE VIEW */
/* MOBILE VIEW */
@media (max-width: 426px) {
    .header-section {
        flex-direction: column;
        width: 90%;
    }
    .header-section .header-RHS {
        flex-direction: column;
        width: 100%;
    }
    .header-section .header-RHS .menu-list {
        flex-direction: column;
    }
    .header-section .header-RHS .menu-list li {
        padding: 5px;
        font-size: 70%;
        align-self: flex-start;
    }
    .header-section .header-RHS .grey-line {
        display: none;
    }
    .header-section .header-RHS .RAS {
        width: 100%;
        display: none;
    }
    .booking-section {
        flex-direction: column-reverse;
        width: 90%;
        align-items: center;
    }
    .booking-section .text-booking {
        width: 90%;
    }
    .booking-section .text-booking h2 {
        font-size: 80%;
    }
    .booking-section .text-booking .booking-header button {
        width: 50%;
    }
    .booking-section .picture-booking {
        width: 100%;
        min-height: 100vh;
    }









    .section2-class .section2-box {
        width: 90%;
        flex-direction: column;
    }
    .section2-class .section2-box .section2-LHS {
        width: 100%;
    }
    .section2-class .section2-box .section2-LHS .we-are-taking {
        width: 100%;
    }
    .section2-class .section2-box .section2-LHS .we-are-taking h2 {
        font-size: 200%;
    }
    .section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 {
        width: 100%;
    }
    .section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box p {
        font-size: 120%;
    }

    .section2-class .section2-box .section2-RHS {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section2-class .section2-box .section2-RHS .get-a-quote {
        width: 100%;
        align-items: center;
    }
    .section2-class .section2-box .section2-RHS .get-a-quote h2 {
        width: 100%;
        padding: 0;
        font-size: 140%;
        align-items: center;
    }
    .section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-image-box {
        width: 20%;
    }
    .section2-class .section2-box .section2-LHS .we-are-taking .LHS-2 .LHS2-text-box a {
        font-size: 100%;
    }
    .section2-class .section2-box .section2-RHS .get-a-quote button {
        width: 40%;
    }











    .process-section {
    }
    .process-section .section3-container {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .process-section .section3-container .section3-LHS {
        width: 100%;
    }
    .process-section .section3-container .section3-LHS h2 {
        width: 100%;
        font-size: 200%;
        margin-top: 0;
    }
    .process-section .section3-container .section3-LHS p {
        width: 100%;
    }
    .process-section .section3-container .section3-RHS {
        width: 100%;
    }









    .we-offer .offer-header {
        width: 80%;
    }
    .we-offer .offer-header h4 {
        font-size: 100%;
    }
    .we-offer .offer-header h2 {
        font-size: 160%;
    }
    .we-offer .offers {
        width: 90%;
    }
    .we-offer .offers .offers-box {
        width: 45%;
        min-height: 30vh;
    }
    .we-offer .offers .offers-box-orange {
        width: 45%;
        min-height: 30vh;
    }
    .we-offer .offers .offers-box p {
        font-size: 50%;
    }
    .we-offer .offers .offers-box-orange p {
        font-size: 50%;
    }




    .brands .brands-text {
        width: 100%;
    }
    .brands .logoipsum {
        flex-direction: column;
    }










    .get-in-touch .GIT-upper {
        flex-direction: column;
    }
    .get-in-touch .GIT-upper .GIT-upper1 {
        width: 100%;
        min-height: 60vh;
    }
    .get-in-touch .GIT-upper .GIT-upper2 {
        width: 100%;
        min-height: 100%;
        padding: 20px 10px 20px 10px;
    }
    .get-in-touch .GIT-upper .GIT-upper2 h2 {
        width: 100%;
        font-size: 200%;
        padding: 0 0 0 0;
    }
    .get-in-touch .GIT-upper .GIT-upper2 button {
        margin: 10px 0 0 20px;
    }
    .get-in-touch .GIT-upper .GIT-upper3 {
        width: 100%;
        min-height: 60vh;
    }

    .get-in-touch .GIT-lower {
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .get-in-touch .GIT-lower .GIT-number-figures h2 {
        font-size: 100%;
    }
    .get-in-touch .GIT-lower .GIT-number-figures p {
        font-size: 70%;
    }










    .brands .brands-text {
        width: 80%;
        align-items: center;
    }
    .brands .brands-text h2 {
        width: 100%;
        font-size: 200%;
    }
    .brands .brand-box {
        width: 100%;
    }
    .brands .brand-box .logoipsum {
        width: 48%;
    }










    .our-cus .our-cus-header {
        width: 90%;
    }
    .our-cus .our-cus-header h2 {
        font-size: 180%;
    }
    .our-cus .feedback {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .our-cus .feedback .feedback-LHS {
        width: 90%;
        margin-bottom: 20px;
    }
    .our-cus .feedback .feedback-RHS {
        width: 90%;
    }
    .our-cus .feedback-footer {
        width: 50%;
    }
    .our-cus .feedback-footer .page-lines {
        display: none;
    }














    .our-cus .our-cus-header h2 {

    }
    .our-cus .feedback .feedback-LHS .feedback-up .feedback-name h4 {
        font-size: 70%;
    }
    .our-cus .feedback .feedback-LHS .feedback-up .feedback-name p {
        font-size: 70%;
    }
    .our-cus .feedback .feedback-LHS .feedback-down p {
        font-size: 80%;
        padding-bottom: 10px;
    }

    .our-cus .feedback .feedback-RHS .feedback-up .feedback-name h4 {
        font-size: 70%;
    }
    .our-cus .feedback .feedback-RHS .feedback-up .feedback-name p {
        font-size: 70%;
    }
    .our-cus .feedback .feedback-RHS .feedback-down p {
        font-size: 80%;
        padding-bottom: 10px;
    }
    





    .faq-home .faq-upper-text {
        width: 70%;
    }
    .faq-home .faq-upper-text h2 {
        font-size: 150%;
    }
    .faq-home .faq-home-big {
        width: 90%;
    }
    .faq-home .faq-home-big .faq-home-big-upper h4 {
        font-size: 100%;
    }
    .faq-home .faq-home-big .faq-home-big-lower p {
        width: 75%;
        font-size: 80%;
    }
    .faq-home .faq-home-small {
        width: 90%;
    }
    .faq-home .faq-home-small h4 {
        font-size: 100%;
    }








    .service-sec4 {
        flex-direction: column;

    }
    .service-sec4 .service-sec4-LHS {
        margin-left: 20px;
        margin-top: 50px;
        margin-right: 10px;
        width: 65%;
    }
    .service-sec4 .service-sec4-LHS .LHS-header h2 {
        font-size: 160%;
        width: 100%;
    }
    .service-sec4 .service-sec4-LHS .social-logos {
        width: 80%;
        margin-top: 15px;
    }


    .service-sec4 .service-sec4-RHS {
        width: 90%;
        margin-top: 40px;
        margin-left: 20px;
    }
    .service-sec4 .service-sec4-RHS p {
        font-size: 100%;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .service-sec4 .service-sec4-RHS h4 {
        font-size: 80%;
        padding-top: 10px;
    }


    .footer-container .footer-section {
        width: 90%;
        flex-direction: column;
    }
    .footer-container .footer-section .footer-MHS .menu-list {
        flex-direction: column;
    }
    .footer-container .footer-section .footer-MHS .menu-list li {
        padding: 5px;
        font-size: 70%;
        align-self: flex-start;
    }
    
    .footer-container .footer-section .footer-RHS {
        width: 100%;
    }


}