*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-section {
    width: 70%;
    min-height: 8vh;
    margin: 0 auto;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

.header-section .header-LHS {
    width: 40%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
}

.header-section .header-RHS {
    width: 60%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

.header-section .header-RHS .menu-list {
    width: 65%;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-section .header-RHS .menu-list a {
    color: black;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}
.header-section .header-RHS .menu-list li {
    list-style: none;
    font-size: 120%;
}

.header-section .header-RHS .grey-line {
    width: 5%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-section .header-RHS .grey-line img {
    min-height: 100%;
}

.header-section .header-RHS .RAS {
    width: 30%;
    min-height: 8vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-section .header-RHS .RAS .RAS-logo {
    border: 1px solid #fff;
    width: 25%;
    min-height: 100%;
    display: flex;
    align-items: center;
}
.header-section .header-RHS .RAS .RAS-text {
    border: 1px solid #fff;
}




/* SERVICE SECTION 1 */
.service-sec1 {
    width: 100%;
    min-height: 85vh;
    border: 1px solid #fff;
    background: #fff;
}

.service-sec1 .sec1-holder {
    width: 65%;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

.service-sec1 .sec1-holder .service-car {
    width: 40%;
    min-height: 55vh;
    background: url(../img/serviced-car.png);
    background-size: cover;
}


.service-sec1 .sec1-holder .black-box {
    width: 60%;
    min-height: 45vh;
    background: black;
    border: 1px solid black;
}
.service-sec1 .sec1-holder .black-box h2 {
    color: #fff;
    font-size: 400%;
    padding: 60px 50px 10px 80px;
}
.service-sec1 .sec1-holder .black-box p {
    color: #fff;
    font-size: 118%;
    padding: 0 50px 10px 80px;
}
.service-sec1 .sec1-holder .black-box button {
    color: #fff;
    background: orangered;
    width: 25%;
    height: 50px;
    margin: 30px 0 0 80px;
    border-radius: 10px;
    border: 1px solid orangered;
    cursor: pointer;
}









/* SECTION 2- AUTO DIAGNOSTICS */

.service-sec2 {
    width: 100%;
    min-height: 115vh;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;

}

.service-sec2 .sec2-holder {
    width: 70%;
    min-height: 90vh;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.service-sec2 .sec2-holder .sec2-LHS {
    width: 48%;
    min-height: 88vh;
    margin: 0 auto;
    border: 2px solid #F5F5F5;
    background: #fff;
}

.service-sec2 .sec2-holder .sec2-LHS .LHS-pic {
    width: 90%;
    min-height: 35vh;
    margin: 0 auto;
    margin-top: 50px;
    background: url(../img/auto-diagnosis.png);
    background-size: cover;
    border: 1px solid #fff;
}

.service-sec2 .sec2-holder .sec2-LHS .LHS-text {
    width: 90%;
    min-height: 30vh;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #fff;
}
.service-sec2 .sec2-holder .sec2-LHS .LHS-text h2 {
    font-size: 300%;
}
.service-sec2 .sec2-holder .sec2-LHS .LHS-text p {
    font-size: 150%;
    padding-top: 20px;
}

.service-sec2 .sec2-holder .sec2-LHS .see-service {
    width: 90%;
    min-height: 5vh;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.service-sec2 .sec2-holder .sec2-LHS .see-service a {
    text-decoration: none;
    color: black;
    font-size: 120%;
}
.service-sec2 .sec2-holder .sec2-LHS .see-service img {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}




.service-sec2 .sec2-holder .sec2-RHS {
    width: 45%;
    min-height: 90vh;
    margin: 0 auto;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-sec2 .sec2-holder .sec2-RHS .RHS2-icons {
    width: 48%;
    height: 31%;
    background: #fff;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-sec2 .sec2-holder .sec2-RHS .RHS2-icons:hover {
    background-color: orangered;
}
.service-sec2 .sec2-holder .sec2-RHS .RHS2-icons:hover p {
    color: #fff;
}
.service-sec2 .sec2-holder .sec2-RHS .RHS2-icons p {
    font-size: 130%;
    margin-top: 10px;
}








/* SECTION 3 */
.service-sec3 {
    width: 100%;
    min-height: 200vh;
}

.service-sec3 .sec3-upperbox {
    width: 75%;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 15vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-LHS {
    width: 50%;
    min-height: 60vh;
    border: 1px solid #fff;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left h2 {
    font-size: 300%;
    padding-right: 100px;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left ul {
    list-style: none;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left p {
    font-size: 155%;
    padding: 10px 100px 10px 30px;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text {
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-tick {
    width: 55px;
    display: flex;
    align-items: center;
}
.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-tick img {
    width: 100%;
}
.service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-text {
    display: flex;
    align-items: center;
}


.service-sec3 .sec3-upperbox .sec3-upperbox-RHS {
    width: 50%;
    min-height: 60vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-sec3 .sec3-upperbox .sec3-upperbox-RHS .sec3-upperbox-image1 {
    width: 49%;
    min-height: 60vh;
    border: 1px solid #fff;
}
.service-sec3 .sec3-upperbox .sec3-upperbox-RHS .sec3-upperbox-image1 img {
    width: 100%;
    min-height: 100%;
}
.service-sec3 .sec3-upperbox .sec3-upperbox-RHS .sec3-upperbox-image2 {
    width: 49%;
    min-height: 60vh;
    border: 1px solid #fff;
}
.service-sec3 .sec3-upperbox .sec3-upperbox-RHS .sec3-upperbox-image2 img {
    width: 100%;
    min-height: 100%;
}


.service-sec3 .sec3-lowerbox {
    width: 75%;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 15vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

.service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS {
    width: 50%;
    min-height: 60vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS .sec3-lowerbox-image1 {
    width: 49%;
    min-height: 60vh;
    border: 1px solid #fff;
}
.service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS .sec3-lowerbox-image1 img {
    width: 100%;
    min-height: 100%;
}

.service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS .sec3-lowerbox-image2 {
    width: 49%;
    min-height: 60vh;
    border: 1px solid #fff;
}
.service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS .sec3-lowerbox-image2 img {
    width: 100%;
    min-height: 100%;
}

.service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS {
    width: 50%;
    min-height: 60vh;
    border: 1px solid #fff;
}

.service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS .sec3-lowerbox-text h2 {
    font-size: 300%;
    padding: 0 0 20px 50px;
}
.service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS .sec3-lowerbox-text p {
    font-size: 140%;
    padding: 0 0 0 50px;
}









/* FOOTER-SECTION */
.service-sec4 {
    width: 100%;
    min-height: 60vh;
    background: #1E1B1B;
    border: 1px solid #1E1B1B;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.service-sec4 .service-sec4-LHS {
    width: 25%;
    min-height: 25vh;
    border: 1px solid #1E1B1B;
    margin-top: 100px;
    margin-left: 280px;
    margin-right: 150px;
}

.service-sec4 .service-sec4-LHS .LHS-header {
    width: 100%;
    min-height: 25vh;
    border: 1px solid #1E1B1B;
}

.service-sec4 .service-sec4-LHS .LHS-header h2 {
    font-size: 250%;
    color: #fff;
}

.service-sec4 .service-sec4-LHS .social-logos {
    width: 40%;
    min-height: 4vh;
    border: 1px solid #1E1B1B;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.service-sec4 .service-sec4-RHS {
    width: 25%;
    min-height: 30vh;
    border: 1px solid #1E1B1B;
    margin-top: 100px;
    color: #fff;
}
.service-sec4 .service-sec4-RHS h4 {
    color: lightgray;
}
.service-sec4 .service-sec4-RHS p {
    font-size: 120%;
    padding: 10px 0 30px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* FOOTER SECTION */
/* FOOTER SECTION */
.footer-container {
    width: 100%;
    min-height: 8vh;
    margin: 0 auto;
    background: black;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}


.footer-container .footer-section {
    width: 70%;
    min-height: 8vh;
    margin: 0 auto;
    background: black;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.footer-container .footer-section .footer-LHS{
    width: 30%;
    min-height: 8vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
}


.footer-container .footer-section .footer-MHS{
    width: 52%;
    min-height: 8vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.footer-container .footer-section .footer-MHS .menu-list {
    width: 75%;
    min-height: 8vh;
    border: 1px solid black;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-container .footer-section .footer-MHS .menu-list a{
    text-decoration: none;
    font-size: 120%;
    color: #fff;
}

.footer-container .footer-section .footer-RHS{
    width: 18%;
    min-height: 8vh;
    border: 1px solid black;
    color: #fff;
    display: flex;
    align-items: center;
}


/* MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION
MEDIA QUERY SECTION    MEDIA QUERY SECTION   MEDIA QUERY SECTION */


/* TABLET VIEW   TABLET VIEW */
@media (max-width: 769px) {
    .header-section {
        width: 90%;
    }

    .header-section .header-RHS {
        width: 100%;
    }
    .header-section .header-RHS .menu-list li {
        padding: 5px;
        font-size: 75%;
        align-items: center;
    }
    .header-section .header-RHS .RAS {
        width: 35%;
        flex-direction: row;
    }
    .header-section .header-RHS .RAS .RAS-logo {
        width: 25%;
    }
    .header-section .header-RHS .RAS .RAS-logo img {
        width: 100%;
    }
    .header-section .header-RHS .RAS .RAS-text h3 {
        font-size: 60%;
        padding-left: 0px;
    }
    .header-section .header-RHS .RAS .RAS-text p {
        font-size: 70%;
    }








    .service-sec1 {
        width: 100%;
        min-height: 70vh;
    }
    
    .service-sec1 .sec1-holder {
        width: 90%;
        min-height: 150px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .service-sec1 .sec1-holder .service-car {
        width: 50%;
        background-size: cover;
    }
    .service-sec1 .sec1-holder .black-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .service-sec1 .sec1-holder .black-box h2 {
        font-size: 240%;
        padding: 0 0 0 20px;
    }
    .service-sec1 .sec1-holder .black-box p {
        font-size: 100%;
        padding: 0 0 0 20px;
    }
    .service-sec1 .sec1-holder .black-box button {
        width: 40%;
        margin-left: 20px;
    }






    .service-sec2 {
        width: 100%;    
    }
    .service-sec2 .sec2-holder {
        width: 90%;
        min-height: 50vh;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .service-sec2 .sec2-holder .sec2-LHS {
        width: 49%;
    }
    .service-sec2 .sec2-holder .sec2-LHS .LHS-pic {
        margin-top: 20px;
    }
    .service-sec2 .sec2-holder .sec2-LHS .LHS-text {
        margin-top: 20px;
    }
    .service-sec2 .sec2-holder .sec2-LHS .LHS-text h2 {
        font-size: 200%;
    }
    .service-sec2 .sec2-holder .sec2-LHS .LHS-text p {
        font-size: 100%;
        padding-top: 10px;
    }

    .service-sec2 .sec2-holder .sec2-RHS {
        width: 49%;
    }
    .service-sec2 .sec2-holder .sec2-RHS .RHS2-icons {
        width: 48%;
    }
    .service-sec2 .sec2-holder .sec2-RHS .RHS2-icons p {
        font-size: 100%;
    }




    .service-sec3 {
        width: 100%;
        min-height: 150vh;
    }
    
    .service-sec3 .sec3-upperbox {
        width: 90%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS {
        width: 40%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left h2 {
        font-size: 220%;
        padding: 0 0 0 0;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left p {
        font-size: 110%;
        padding: 0 10px 0 10px;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-tick {
        width: 15%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-tick img {
        width: 100%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-text {
        display: flex;
        align-items: center;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-RHS {
        width: 60%;
    }

    .service-sec3 .sec3-lowerbox {
        width: 90%;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS {
        width: 60%;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS {
        width: 40%;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS .sec3-lowerbox-text h2 {
        font-size: 200%;
        padding: 0 0 0 20px;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS .sec3-lowerbox-text p {
        font-size: 110%;
        padding: 20px 0 0 20px;
    }




    .service-sec4 {
        flex-direction: row;
        min-height: 100%;

    }
    .service-sec4 .service-sec4-LHS {
        margin:  0 0 20px 20px;
        width: 80%;
        min-height: 100%;
    }
    .service-sec4 .service-sec4-LHS .LHS-header {
        width: 80%;
        min-height: 10vh;
    }
    .service-sec4 .service-sec4-LHS .LHS-header h2 {
        font-size: 200%;
        width: 100%;
    }
    .service-sec4 .service-sec4-LHS .social-logos {
        width: 50%;
        margin: 50px 0 0 0;
    }
    .service-sec4 .service-sec4-RHS {
        width: 90%;
        min-height: 40%;
        margin: 0 0 50px 20px
    }
    .service-sec4 .service-sec4-RHS p {
        font-size: 100%;
        padding: 5px 0 20px 0;
    }
    .service-sec4 .service-sec4-RHS h4 {
        font-size: 80%;
        padding-top: 10px;
    }





    .footer-container .footer-section {
        width: 90%;
        flex-direction: row;
    }
    .footer-container .footer-section .footer-MHS {
        margin: 0 30px 0 30px;
    }
    .footer-container .footer-section .footer-MHS .menu-list {
        flex-direction: row;
    }
    .footer-container .footer-section .footer-MHS .menu-list li {
        margin-right: 20px;
        font-size: 70%;
    }
    .footer-container .footer-section .footer-RHS {
        width: 100%;
    }
}






/* MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW
MOBILE VIEW      MOBILE VIEW */


@media (max-width: 426px) {
    .header-section {
        flex-direction: column;
        width: 90%;
    }

    .header-section .header-RHS {
        flex-direction: column;
        width: 100%;
    }
    .header-section .header-RHS .menu-list {
        flex-direction: column;
    }
    .header-section .header-RHS .menu-list li {
        padding: 5px;
        font-size: 75%;
        align-self: flex-start;
    }
    .header-section .header-RHS .grey-line {
        display: none;
    }
    .header-section .header-RHS .RAS {
        width: 35%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .header-section .header-RHS .RAS .RAS-logo {
        width: 25%;
    }
    .header-section .header-RHS .RAS .RAS-logo img {
        width: 100%;
    }
    .header-section .header-RHS .RAS .RAS-text h3 {
        font-size: 60%;
        padding-left: 0px;
    }
    .header-section .header-RHS .RAS .RAS-text p {
        font-size: 70%;
    }




    .service-sec1 {
        width: 100%;
    }
    .service-sec1 .sec1-holder {
        width: 90%;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .service-sec1 .sec1-holder .service-car {
        width: 100%;
        background-size: cover;
    }
    .service-sec1 .sec1-holder .service-car img {
        height: 100%;
    }
    .service-sec1 .sec1-holder .black-box {
        width: 100%;
    }
    .service-sec1 .sec1-holder .black-box h2 {
        width: 100%;
        font-size: 200%;
        padding: 20px 0 0 20px;
    }
    .service-sec1 .sec1-holder .black-box p {
        width: 100%;
        font-size: 100%;
        padding: 10px 20px 10px 20px;
    }
    .service-sec1 .sec1-holder .black-box button {
        width: 50%;
        margin: 20px 0 0 20px;
    }








    .service-sec2 {
        width: 100%;    
    }
    .service-sec2 .sec2-holder {
        width: 90%;
        flex-direction: column;
        margin-top: 50px;
    }

    .service-sec2 .sec2-holder .sec2-LHS {
        width: 100%;
    }
    .service-sec2 .sec2-holder .sec2-LHS .LHS-text h2 {
        font-size: 200%;
    }
    .service-sec2 .sec2-holder .sec2-LHS .LHS-text p {
        font-size: 120%;
    }

    .service-sec2 .sec2-holder .sec2-RHS {
        width: 100%;
        min-height: 75vh;
        margin-top: 30px;
        border: 1px solid black;
    }
    .service-sec2 .sec2-holder .sec2-RHS .RHS2-icons {
        width: 48%;
        min-height: 150px;
    }






    .service-sec3 {
        width: 90%;
        margin: 0 auto;
    }
    
    .service-sec3 .sec3-upperbox {
        width: 100%;
        flex-direction: column;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS {
        width: 100%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left h2 {
        font-size: 200%;
        width: 100%;
        padding: 0 0 0 0;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text {
        width: 100%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-tick {
        width: 8%;

    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-text {
        width: 100%;

    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left .tick-and-text .sec3-text  {
        width: 100%;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-LHS .sec3-upperbox-left p {
        font-size: 120%;
        padding:  0 0 0 10px;
    }
    .service-sec3 .sec3-upperbox .sec3-upperbox-RHS {
        width: 100%;
    }


    .service-sec3 .sec3-lowerbox {
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-LHS {
        width: 100%;
        margin-top: 50px;
        padding:  0 0 0 0;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS {
        width: 100%;
        min-height: 100%;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS .sec3-lowerbox-text h2 {
        font-size: 200%;
        padding: 0 0 20px 0;
    }
    .service-sec3 .sec3-lowerbox .sec3-lowerbox-RHS .sec3-lowerbox-text p {
        font-size: 120%;
        padding: 0 0 0 0;
    }

    
















    .service-sec4 {
        flex-direction: column;
        min-height: 100%;

    }
    .service-sec4 .service-sec4-LHS {
        margin:  0 0 20px 20px;
        width: 80%;
        min-height: 100%;
    }
    .service-sec4 .service-sec4-LHS .LHS-header {
        width: 80%;
        min-height: 10vh;
    }
    .service-sec4 .service-sec4-LHS .LHS-header h2 {
        font-size: 200%;
        width: 100%;
    }
    .service-sec4 .service-sec4-LHS .social-logos {
        width: 50%;
        margin: 50px 0 0 0;
    }

    .service-sec4 .service-sec4-RHS {
        width: 90%;
        min-height: 40%;
        margin: 0 0 50px 20px
    }
    .service-sec4 .service-sec4-RHS p {
        font-size: 100%;
        padding: 5px 0 20px 0;
    }
    .service-sec4 .service-sec4-RHS h4 {
        font-size: 80%;
        padding-top: 10px;
    }




    .footer-container .footer-section {
        width: 90%;
        flex-direction: column;
    }
    .footer-container .footer-section .footer-MHS .menu-list {
        flex-direction: column;
    }
    .footer-container .footer-section .footer-MHS .menu-list li {
        padding: 5px;
        font-size: 70%;
        align-self: flex-start;
    }
    .footer-container .footer-section .footer-RHS {
        width: 100%;
    }
}